html{
    box-sizing: border-box;
    height: 100%;
}
body{
    background-color: bisque;
}
header{
    min-height: 8vh;
    background-color: chocolate;
    padding: 50px;
}
main{
    min-height: 60vh;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    margin:50px 0 10px 25px;
}
ul{
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    font-size: large;
    margin: 0 5px 10px 25px;
}
li{
    margin-top: 10px;
}
.homeIMG{
    width: 350px solid black;
    margin: 25px;

}
footer{
    min-height: 10vh;
    background-color: chocolate;
    z-index: 10;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    text-align: center;
}
.footerBox{
    padding-top: 20px;
}